<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="container">
    <h2>SMS 로그인</h2>
    <form action="/user/login" method="post">
        <div class="form-group">
            <label for="smsName">이름</label>
            <input type="text" id="smsName" name="name" placeholder="이름을 입력하세요">
        </div>
        <button type="submit">로그인</button>
    </form>
    <br>
    <h2>Mail 로그인</h2>
    <form action="/mail/login" method="post">
        <div class="form-group">
            <label for="mailName">이름</label>
            <input type="text" id="mailName" name="name" placeholder="이름을 입력하세요">
        </div>
        <button type="submit">로그인</button>
    </form>

</div>
</body>
</html>